html,body {
	padding:0px;
	margin:0px;
	background-color: #fafafa;
}

#wrapper {
	width: 936px;	
	margin: 0 auto;
}

#main {
	width: 100%;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: green;
}
#main #left_main {
	width: 468px;
	height: 100%;
	float: left;
	text-align: center;
}
#main #right_main {
	width: 408px;
	height: 100%;
	float: right;
	padding-top: 73px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;

}

.clr {
	clear:both;
}
.panel {
	background-color: #fff;
	border: 1px solid #EFEFEF;
	padding: 35px 40px;
	margin-bottom: 12px;
	text-align: center;
}
#logo {
	width: 50%
}
.field input {
	width:100%;
	padding:10px;
	box-sizing: border-box;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size:14px;
	outline: none;
}
.field input[type="text"] {	
	border: 1px solid #EFEFEF;
	margin-bottom: 10px;
	background-color: #FAFAFA;
	color: 0F0f0f;
}

.field input[type ="submit"] {
	background-color: #3b5998;
	color: white;
}