.main_class {
	width:40%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;


}

.main_sub1 {
	width: 100%;
}
.clr {
	clear:both;
}
button {
	height: 30px;
	width: 100px;
	background-color: blue;
}
.apple_android img {
	width: 134px;
	height: 44px;
}
.login  {
	border: solid 1px grey;
	margin-bottom: 30px;
}
.create_account {
	border: solid 1px grey;
	margin-bottom: 30px;
}
.form_input {
	display: block;
}